<mat-toolbar color="primary">
    <div class="accesos">
        <ng-container *ngFor="let acceso of accesos">
            <button *ngIf="!acceso.route" mat-button>{{acceso.nombre}}</button>
            <button mat-button [routerLink]="acceso.route">{{acceso.nombre}}</button>
        </ng-container>
    </div>
    

    <div *ngIf="!nombreUsuario" class="boton-ingresar" [routerLink]="'/auth/login'">
        Ingresar
    </div>
    <div *ngIf="nombreUsuario" class="boton-usuario" [routerLink]="'/auth/login'">
        <mat-icon>person</mat-icon>
        {{nombreUsuario}}
    </div>

</mat-toolbar>

<ng-content select="contenido"></ng-content>