:host{

    mat-toolbar{
        display: flex;
        justify-content: space-between;

        .accesos{
            display: flex;
            column-gap: 16px;
        }

        .boton-ingresar{
            cursor: pointer;
        }

        .boton-usuario {
            display: flex;
            padding: 4px 8px;
            background: #3964c8;
            border-radius: 8px;
            align-items: center;
            gap: 4px;
            font-size: 18px;
        }
    }
}