<app-layout-formulario
    [tituloFormulario]="tituloFormulario"
    (clickBotonCancelar)="clickCancelar()"
    (clickBotonPrincipal)="enviar()"
    [textoBotonPrincipal]="textoBoton"
>
    <contenido>

        <form [formGroup]="form">

            <div class="contenedor-campos">

                <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input formControlName="nombre" matInput required>
                    <mat-error *ngIf="form.get('nombre')?.getError('required')">Obligatorio</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Apellido</mat-label>
                    <input formControlName="apellido" matInput required="">
                    <mat-error *ngIf="form.get('apellido')?.getError('required')">Obligatorio</mat-error>

                </mat-form-field>

                <mat-form-field>
                    <mat-label>DNI</mat-label>
                    <input formControlName="dni" matInput required="">
                    <mat-error *ngIf="form.get('dni')?.getError('required')">Obligatorio</mat-error>
                </mat-form-field>
                
                <mat-form-field>
                    <mat-label>Fecha de nacimiento</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fecha_nacimiento" required>
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-error *ngIf="form.get('fecha_nacimiento')?.getError('required')">Obligatorio</mat-error>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput required="">
                    <mat-error *ngIf="form.get('email')?.getError('required')">Obligatorio</mat-error>
                </mat-form-field>


               <mat-form-field>
                <mat-label>Rol</mat-label>
                <mat-select matInput required="">   
                  <mat-option *ngFor="let rol of registrosRoles " [value]='rol.id'l>
                    {{rol.nombre}}
                  </mat-option>
                  <mat-error *ngIf="form.get('idRol')?.getError('required')">Obligatorio</mat-error>
                </mat-select>
              </mat-form-field>

                <mat-form-field>
                    <mat-label>Contraseña</mat-label>
                    <input formControlName="contrasenia" type="password" matInput required="">
                    <mat-error *ngIf="form.get('contrasenia')?.getError('required')">Obligatorio</mat-error>
                </mat-form-field>

            </div>

        </form>

    </contenido>

</app-layout-formulario>