<app-layout-general>
    <contenido class="contenedor">
        <div class="contenedor-titulo-formulario">
            <span>{{tituloFormulario}}</span>
        </div>
        <mat-card class="card-formulario">
            <ng-content select="contenido"></ng-content>

            <div class="contenedor-botones">
                <button mat-raised-button (click)="clickBotonCancelar.emit()" >Cancelar</button>
                <button mat-raised-button color="primary" (click)="clickBotonPrincipal.emit()" [disabled]="this.botonesDesHabilitados">{{textoBotonPrincipal}}</button>
            </div>
        </mat-card>
    </contenido>
</app-layout-general>
