:host{
    form{

        .contenedor-campos{
            display: flex;
            justify-content: center;
            column-gap: 16px;
            flex-wrap: wrap;

            .contenedorValidarDni{
                display: flex;
                width: 615px;
                column-gap: 40px;
                align-items: baseline;
                button{
                    width: 85%;
                }
            }

            mat-form-field{
                max-width: 300px;
                width: 100%;
            }
        }
    }
}