
<div class="repo">
    <div clas="contenedor-reporte">
        <mat-card>
            <h3>Campos ingresados</h3>
            <div class="contenedor-campos">      
                <mat-form-field>
                    <mat-label>Fecha desde</mat-label>
                    <input  matInput [(ngModel)]="valoresBusqueda.fecha_desde"  disabled = true>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Fecha hasta</mat-label>
                    <input  matInput [(ngModel)]="valoresBusqueda.fecha_hasta" disabled = true>
                </mat-form-field>
            </div>
        </mat-card>
        <br>
        <h1 class="ylabel">Cantidad de cuotas pagas por mes</h1>
        <div class="chart-wrapper" >
            <canvas baseChart    
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
            </canvas>
            <h1>Mes</h1>
        </div>
        <hr>
        <div class="resumen">
            <mat-card>
                <mat-card-title>Cantidad de cuotas totales</mat-card-title>
                <mat-card-header>{{cantCuotasTot.cTotal}} = $ {{cantCuotasTot.monto}}  </mat-card-header>
            </mat-card>
            <mat-card>
                <mat-card-title>Cantidad de cuotas pagas</mat-card-title>
                <mat-card-header>{{cantCuotasPagas.cTotal}} = $ {{cantCuotasPagas.monto}}</mat-card-header>
            </mat-card>
            <mat-card>
                <mat-card-title>Cantidad de cuotas impagas</mat-card-title>
                <mat-card-header>{{cantCuotasImpagas.cTotal}} = $ {{cantCuotasImpagas.monto}}</mat-card-header>
            </mat-card>

               

        </div>
    </div>
</div>
<div class="contenedor-botones">
    <p>Precios por mes: [</p> <p  *ngFor="let precioMes of preciosPorMes ">{{precioMes.mes}}:{{precioMes.monto}};</p> <p>]</p>
</div>
<br>
<div class="contenedor-botones">
    <button mat-raised-button (click)="imprimir()" color="primary" >Imprimir</button>
</div>


