<app-layout-general>
    <contenido class="contenedor">

        <div class="contenedor-titulo-listado">
            <span>{{tituloListado}}</span>
        </div>

        <div class="contenedor-botones">
            <button mat-icon-button color="primary" [routerLink]="''" aria-label="Example icon button with a home icon">
                <mat-icon>home</mat-icon>
            </button>	

			<mat-checkbox *ngIf="esRutina" color="primary" [(ngModel)]="soloPresets" (change)="clickFiltroPreset.emit(soloPresets)" >Rutinas Presets</mat-checkbox>

			<div *ngIf="filtrosDisponibles.length > 0" class="contenedor-filtros">
				<ng-container *ngFor="let filtro of filtrosDisponibles">
					<mat-form-field>
						<mat-label>{{filtro.textoFiltro}}</mat-label>
						<input [(ngModel)]="filtro.valorFiltro" matInput disabled="{{soloPresets}}">	
					</mat-form-field>
				</ng-container>	
				
				<button mat-raised-button color="primary" (click)="clickBotonFiltrar.emit()" disabled="{{soloPresets}}">Filtrar</button>
			</div>
			
            <button *ngIf="!esRutina" mat-raised-button color="primary" [routerLink]="urlAgregar">Agregar</button>
			<button *ngIf="esRutina" mat-raised-button color="primary" (click)="clickBotonAgregar.emit()">Agregar</button>
        </div>

        <table #table mat-table [dataSource]="registrosListado" class="mat-elevation-z8">

			<ng-container *ngFor="let columna of columnasAMostrar">

				<ng-container *ngIf="columna !== 'editar' && columna !== 'eliminar'  && columna !== 'asignar'" [matColumnDef]="columna">
					<th mat-header-cell *matHeaderCellDef> {{columna.substring(0,1).toUpperCase() + columna.substring(1)}} </th>
					<td mat-cell *matCellDef="let element"> {{element[columna]}} </td>
				</ng-container>
				<ng-container  *ngIf="columna === 'asignar'"  matColumnDef="asignar" >
					<th mat-header-cell *matHeaderCellDef class="th-accion"></th>
					<td mat-cell *matCellDef="let element" class="td-accion"> 
						<mat-icon *ngIf="esRutina && element.nombre_socio=='----'" color="primary" 
						(click)="clickBotonAsignarRutina.emit(element.id)" fontIcon="accessibility_new"></mat-icon>
					</td>
				</ng-container>
				<ng-container *ngIf="columna === 'editar'"  matColumnDef="editar" >
					<th mat-header-cell *matHeaderCellDef class="th-accion"></th>
					<td mat-cell *matCellDef="let element" class="td-accion"> 
						<mat-icon *ngIf="esRutina" color="primary" (click)="clickBotonEditarRutina.emit([element.id, element.nombre_socio])">edit</mat-icon>
						<mat-icon *ngIf="!esRutina" color="primary" (click)="clickBotonEditar.emit(element.id)">edit</mat-icon>
					</td>
				</ng-container>

				<ng-container *ngIf="columna === 'eliminar'"  matColumnDef="eliminar">
					<th mat-header-cell *matHeaderCellDef class="th-accion"></th>
					<td mat-cell *matCellDef="let element" class="td-accion"> 
						<mat-icon *ngIf="!esRutina" color="primary" (click)="clickBotonEliminar.emit(element.id)">delete</mat-icon>
						<mat-icon *ngIf="esRutina" color="primary" (click)="clickBotonEliminarRutina.emit([element.id, element.nombre_socio])">delete</mat-icon>						
					</td>
				</ng-container>

			</ng-container>
			
            <tr mat-header-row *matHeaderRowDef="columnasAMostrar"></tr>

            <tr mat-row *matRowDef="let row; columns: columnasAMostrar;"></tr>
          </table>

    </contenido>
</app-layout-general>