<mat-card>
    <h1>Día {{numeroDia}}</h1>
    <app-ejercicio-agregar-rutina 
        *ngFor="let ejercicio of ejercicios; let indexOfelement=index"
        [ejercicio]="ejercicio"
        [numeroDiaEjercicio] = numeroDia 
        (clickBotonEliminarEjercicio) = "eliminarEjercicio(indexOfelement)"
    > </app-ejercicio-agregar-rutina>
    <br>
    <button mat-raised-button color="primary" (click)="this.agregarEjercicio()" >Agregar ejercicio </button>
    <br>
    <button mat-raised-button (click)="this.clickBotonEliminarDia.emit()">Eliminar dia</button>
    <br>
</mat-card>
